<!--
   Author: Russell Toris, Worcester Polytechnic Institute
   Author: David Kent, Worcester Polytechnic Institute
  Version: April 3, 2015
-->

<launch>
  <!-- Panel Params -->
  <arg name="segment_service" default="/rail_segmentation/segment" />
  <param name="/rviz/segment_panel/segment_service" type="str" value="$(arg segment_service)" />

  <node pkg="rviz" type="rviz" name="rviz"
        args="-d $(find informed_object_search)/rviz/view.rviz -s $(find rail_pick_and_place_tools)/images/splash.png"
        output="screen" />
</launch>
